<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <!-- <img class="n-logo" src="../../assets/img/re" alt=""> -->
                <h1 class="h1-seo">EXPLORE THE WORLD</h1>

                <h4 style="margin: 0px 0px 10px 0px;">Join Our Nature & Urban, Rental & Adventures Trip!</h4>
                <h4 style="margin: 0">10000+ Motorbikes | 300000+ Happy Riders | Verified Vendors | Genuine Reviews</h4>
               
            </div>
        </div>
    </div>

  
    <div class="main">
            <div class="home__featuredTitle">Our Brand is our Fleet</div> 
            <div class="home__featuredSubTitle">Rent with the Best, Ride with the best</div>
            <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="../../assets/img/rentallogo.png">
            </div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                        <h2 class="h1-seo">Let’s Explore The World Together!</h2> 
                        <h5 style="color : black;" class="home__featuredSubTitle">
                            
                            “05 Rental” is our first brand, which is an e-platform for grabbing vehicle (two wheeler & four wheeler) on rent , and other travel and camping within single touch.
                             We hope to make people tour easier,comfortable. With the best ability to fulfill demand of every class and that utmost suitability. 
                             Your trip will be our first priority.


                        </h5>
                </div>
            </div>
            <br>

            <p><br></p>
                <h2 class="text-center" style="font-weight: bold;color: blueviolet;">05 SERVICES</h2>
                <br>
                <hr>
            <div class="row">        
                   <div class="col-md-4 text-center">
                        <img class="img-fluid img-thumbnail" style="width:100%;height: 230px;" src="../../assets/img/adventure.jpg" alt="Chania">
                        <h5 class="h1-seo">Adventurous Trips</h5>
                    </div>

                    <div class="col-md-4 text-center">
                        <img class="img-fluid img-thumbnail" style="width:100%;height: 230px;" src="../../assets/img/bikes.jpg" alt="Chania">
                        <h5 class="h1-seo">Bikes</h5>
                    </div>

                    <div class="col-md-4 text-center">
                        <img class="img-fluid img-thumbnail" style="width:100%;height: 230px;" src="../../assets/img/cars.jpg" alt="Chania">
                        <h5 class="h1-seo">Cars and Driverless Cars</h5>
                    </div>

                    </div>
        </div>

       <p><br></p> 
       <p><br></p> 
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center" style="padding : 50px 20px">
                        <h3 class="h1-seo">Connect With Us</h3> 
                        <div style="color:black;" class="home__featuredSubTitle">We are not far away from you
                                    just ring the bell +91 7906814062
                                    or Write Us: support@05rental.com </div> 
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/img/think.png">
                    </div>
                </div>
            </div>

        <div class="home-wrapper" id="home-wrapper">
            <span  id="cloud1"></span> 
            <span  id="cloud2"></span> 
            <span  id="cloud3"></span> 
            <span  id="cloud4"></span> 
            <span  id="cloud5"></span> 
            <span  id="car1"></span> 
            <span  id="car2"></span> 
            <span  id="car3"></span> 
            <span  id="bike"></span>
        </div>
    </div>
    <br>
    

    <div class="home__wsPartnerMain"> 
        <div class="home__wsPartnerInner row"> 
            <div class="home__wsPartnerTitleContainer col-sm-8 col-xs-12"> 
                <h3 class="home__wsPartnerTitle ng-binding">Grow your business with 05 Rental</h3> 
                <div class="home__wsPartnersubTitle ng-binding">List your bike and become a member of wheelstreet family.</div>
                <br>      
                <a style="color : #fff" [routerLink]="['/adlogin']">
                    <span>
                        <i class="now-ui-icons users_single-02"></i>&nbsp;
                        Admin Login
                    </span>
                </a>
                        
            </div> 
            <div class="home__wsPartnerAction col-sm-4 col-xs-12"> 
                <a (click)="partnerFunc()" style="color: #fff">
                    <div class="home__wsPartner--btn ng-binding">PARTNER WITH US</div> 
                </a>
            </div> 
        </div> 
    </div>
</div>
