#container{
    padding : 10px 20px;
}

.form-control{
    border : 1px solid black;
    background-color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
  }

  .card{
    background-color: transparent;
      padding : 20px 30px;
      border-radius: 15px;
  }

  #main_heading {
    font-size: 40px;
    color: #202022;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    pointer-events: none;
    margin-bottom: 15px;
  }
  
  

  .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    margin: auto;
    display: block;
    border: 2px solid #555;
    &:hover, 
      &:focus {
        color: lighten(#555, 20%);
        border-color: lighten(#555, 20%);
      }
  }
  
  /* input file style */
  
  .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      border-radius: 25px;
      color : #fff; 
    + .js-labelFile {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 10px;
      cursor: pointer;
      .icon:before {
        //font-awesome
        content: "\f093";
      }
      &.has-file {
        .icon:before {
          //font-awesome
          content: "\f00c";
          color: #5AAC7B;
        }
      }
    }
  }

  h1{
    font-size: 32px;
    color: #202022;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    pointer-events: none;
    margin-bottom: 15px;
  }