<div class="container">
  <div class="row">
      <div class="col-md-12"><h2><strong>PROFILE</strong></h2></div>
  </div>
  <div *ngIf="user" class="row">
    <div class="col-0 col-sm-2 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <div class="card card-block">
        <div style="padding : 5px;">
            <img [src]="user.photoURL" alt="Photo of sunset"/>
        </div>

            <br>
          <p><span id="key">Name :</span>&nbsp; {{ user.Name }} </p>
          <p><span id="key">Contact :</span>&nbsp; {{user.PhoneNumber}} </p>
          <p><span id="key">Email :</span>&nbsp; <span style="font-size:13px;">{{user.Email}} </span></p>
          <p><span id="key">Address :</span>&nbsp; {{user.address}} </p>
          <p><span id="key">Aadhaar No :</span>&nbsp; <span style="font-size:13px;">{{user.aadharno}} </span></p>

    </div>
    </div>

    <div class="col-0 col-sm-2 col-md-3 col-lg-4 col-xl-5"></div>
  </div>     
</div>
