#main_heading {
    font-size: 32px;
    color: #202022;
    margin-left : 25px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    pointer-events: none;
    margin-bottom: 15px;
  }
  