<div class="container-fluid mt-2">

    <div class="row">
        <div style="margin-left: 25px;" class="col-md-12"><h1><strong>TODAY'S BOOKINGS</strong></h1></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10  text-center" >
                <div *ngIf="showError" class="alert alert-danger">
                        <strong>Sorry!</strong> There are no Today's Bookings!
                </div>

        </div>
        <div class="col-md-1"></div>
    </div>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"  *ngFor="let vehicle of vehicles">
          <app-bookingstodayvehicle [vehicle_detail]="vehicle"></app-bookingstodayvehicle> 
   </div>
  </div>
  <br>
  </div>